
.ListNavigation{
   display: flex;
   flex-direction: row;
   
list-style: none;
}
.ItemNavigation{
   text-decoration: none;
   font-style: normal;
   font-weight: 16px;
   font-size: 20px;
   margin-left: 20px;
color: #212121;
}
.activeItemNavigation{
   color:#db1212 
}
